
<% if(user) { %>
  <div class="pt-3 pb-1 inline">
    <a href="/post"><button class="btn btn-success my-2 my-sm-0" type="submit">New Post</button></a>
  </div>
<% } else { %>

<% } %>
  

<% if(postsvar) { %>
    
    <% postsvar.forEach(function(post){ %>
        <div class="card my-4">
            <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
            <div class="card-body">
              <h2><a href="/post/<%= post.id %> " class="card-title"><%= post.title %></a></h2>
              <p class="card-text"><%= post.content %></p>
            </div>
            <div class="card-footer text-muted">
                Posted on <%= post.date %>
              <a href="#"><%= post.author %></a>
            </div>
          </div>
    <% }); %>
<% } %>

